{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{% block title%}
Registro estudiante
{% endblock %}
{% block body %}
<div class="container">
<!-- Page heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Registro estudiante</h1>
<small>Registro estudiante</small>

</div>
{% endblock %}
